.skills{
    width: 100%;
    height: 100vh;
   
}

.swiperx{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    place-items: center;
}
.swiperx > img{
    width: 500px;
    height: 600px;
}