.skills{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: grid;
    align-items: center;
    place-items: center;
}
.skills_container{
    height: 100%;
    /* display: flex;
    flex-direction: column;
    gap: 2rem; */
}
.skills_header {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
}
.skills_desc{
    font-size: 2rem;
}
.skills_languages{
    width: 100%;
}
.skillz_container{
    width: 80%;
    margin-top: 2rem;
}
.skillz_back{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: navy;
    padding: 2rem 5rem;

}
.item_image > img{
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}
.item_title > h1{
    font-size: 3rem;
}
.item_desc > p{
    font-size: 2rem;
}