.body{
    width: 100%;
    position: relative;
    /* overflow: scroll; */
}
.sidebarz{
    display: none;
    
}

.navbar_body{
    margin-top: 3rem;
    /* position: sticky;
    z-index: 9999999999999;
    top: 5px; */
}
.i-title{
    overflow: hidden;
    height: 4.2rem;
    width: 100%;
}
.animate > h3{
    font-size: 3.5rem;
    overflow: hidden;
    width: 100%;
    color: gray;
}
.animate{
    
    animation-name: move;
    animation-direction:alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes move {
    25%{
        transform: translateY(-64px);
    }
    50%{
        transform: translateY(-90px);

    }
    75%{
        transform: translateY(-159px);

    }
    100%{
        transform: translateY(0px);

    }
}
.bodys{
    overflow: auto;
}
.open_sidebar{
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 9999999999999;
}
.body_container{
    width: 100%;
    display: grid;
    align-items: center;
    place-items: center;
    padding: 3rem 14rem;
}
.left_body_container{
    flex: 0.5;
}
.right_body_container{
    flex: 0.5;

}
.body_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.align_header{
    display: flex;
    gap: 1rem;
}
.align_header > h1{
    font-size: 2rem;
    color: gray;

}
.align_header > h2{
    font-size: 1.5rem;
    color: gray;
}

.left_items > p{
    width: 88%;
    line-height: 58px;
    font-size: 1.8rem;
    color: gray;
}
a{
    text-decoration: none;
}
.hire_me_button{
    width: 30%;
    height: 5rem;
    font-size: 2rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 69, 0,0.25);
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.19);
-webkit-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.19);
-moz-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.19);
}
.hire_me_button:hover{
        background-color: transparent;
        color: orange;
}
.right_body_container{
    flex: 0.5;
    /* overflow: hidden; */

    /* position: relative; */
}
.right_items{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.image_blob4{
    box-shadow: -1px 1px 13px 0px rgba(245,245,243,0.7);
    -webkit-box-shadow: -1px 1px 13px 0px rgba(245,245,243,0.7);
    -moz-box-shadow: -1px 1px 13px 0px rgba(245,245,243,0.7);
    width: 30rem;
    object-fit: contain;
    height: 35rem;
}
.icons_profile{
    position: sticky;
    right: 0rem;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5rem;
}
.twitter{
    font-size: 4rem !important;
    margin-left: 8rem !important;
    color: #1DA1F2;
}
.github{
    font-size: 4rem !important;
    margin-left: 8rem !important;
    color: whitesmoke;
}
@media screen and (max-width: 641px) {
    .body{
        width: 100%;
        margin-top: 0rem;
    }
    .sidebarz{
        display: block;
        position: absolute;
        top: 3% !important;
        right: 5% !important; 
        cursor: pointer;
        z-index: 99999999999999;
    }
    .swipez{
        color: white;
        font-size: 1.5rem !important;
    }
    .set_side_bar{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 9999999999999999;
    }
    .body_container{
        padding: 1.5rem 0.7rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 0.8rem;
    }
    .navbar_body{
        margin-top: 1.6rem;
    }
    .i-title{
        overflow: hidden;
        height: 2.4rem;
        width: 100%;
    }
    .animate > h3{
        font-size: 1.6rem;
        overflow: hidden;
        width: 100%;
        
    }
    .animate{
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        animation-name: move;
        animation-direction:alternate;
        animation-timing-function:ease-in-out;
        animation-play-state: running;
        animation-duration: 12s;
        animation-delay: 1.5s;
        animation-iteration-count: infinite;
    }
    @keyframes move {
        25%{
            transform: translateY(-75px);
        }
        50%{
            transform: translateY(-83px);
    
        }
        75%{
            transform: translateY(-154px);
    
        }
        100%{
            transform: translateY(0px);
    
        }
    }
    .left_body_container{
        width: 100%;
        align-items: center;
    }
    .align_header{
        gap: 0.5rem;
        margin: 2rem 0.2rem;
        align-items: center;
    }
    .align_header > h1{
        font-size: 0.95rem;
    }
    .align_header > h2{
        font-size: 0.95rem;
    }
    .align_header > h3{
        font-size: 1.1rem;
    }
    .left_items > p{
        width: 100%;
        line-height: 28px;
        font-size: 0.95rem;
    }
    .hire_me_button{
        width: 100%;
        height: 2.4rem;
        font-size: 0.95rem;
        border: 0;
        margin-top: 1.9rem;
        outline: 0;
        opacity: 0.8;
        color: white;
        font-weight: bolder;
        cursor: pointer;
    border: 1px solid white;
        box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.19);
    -webkit-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.19);
    -moz-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.19);
    }
    .right_body_container{
        width: 100%;
    }
    .right_items{
        gap: 0.5rem;
    }
    
    .image_blob3{
        width: 100%;
        margin-top: 1rem;
      
    }
  
    .image_blob4{
        border-radius: 2px;
        object-fit: cover;
        width: 100% !important;
        height: 90% !important;
       
    }
    
    
   
    .icons_profile{
        display: none;
    }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .body{
        width: 100%;
        margin-top: 0rem;
    }
    .sidebarz{
        display: block;
        position: absolute;
        top: 3% !important;
        right: 5% !important; 
        cursor: pointer;
        z-index: 99999999999999;
    }
    .swipez{
        color: white;
        font-size: 1.5rem !important;
    }
    .set_side_bar{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 9999999999999999;
    }
    .body_container{
        padding: 1.5rem 0.7rem;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 0.8rem;
    }
    .navbar_body{
        margin-top: 1.6rem;
    }
    .i-title{
        overflow: hidden;
        height: 2.4rem;
        width: 100%;
    }
    .animate > h3{
        font-size: 1.6rem;
        overflow: hidden;
        width: 100%;
        
    }
    .animate{
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        animation-name: move;
        animation-direction:alternate;
        animation-timing-function:ease-in-out;
        animation-play-state: running;
        animation-duration: 12s;
        animation-delay: 1.5s;
        animation-iteration-count: infinite;
    }
    @keyframes move {
        25%{
            transform: translateY(-75px);
        }
        50%{
            transform: translateY(-83px);
    
        }
        75%{
            transform: translateY(-154px);
    
        }
        100%{
            transform: translateY(0px);
    
        }
    }
    .left_body_container{
        width: 100%;
        align-items: center;
    }
    .align_header{
        gap: 0.5rem;
        margin: 2rem 0.2rem;
        align-items: center;
    }
    .align_header > h1{
        font-size: 0.95rem;
    }
    .align_header > h2{
        font-size: 0.95rem;
    }
    .align_header > h3{
        font-size: 1.1rem;
    }
    .left_items > p{
        width: 100%;
        line-height: 28px;
        font-size: 0.95rem;
    }
    .hire_me_button{
        width: 100%;
        height: 2.8rem;
        font-size: 1.1rem;
        border: 0;
        margin-top: 1.9rem;
        outline: 0;
        opacity: 0.8;
        color: white;
        font-weight: bolder;
        cursor: pointer;
    border: 1px solid white;
        box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.19);
    -webkit-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.19);
    -moz-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.19);
    }
    .right_body_container{
        width: 100%;
    }
    .right_items{
        gap: 0.5rem;
    }
    
    .image_blob3{
        width: 100%;
        margin-top: 1rem;
      
    }
  
    .image_blob4{
        border-radius: 2px;
        object-fit: cover;
        width: 100% !important;
        height: 90% !important;
       
    }
    
    
   
    .icons_profile{
        display: none;
    }
}