.namezz > img{
    width: 10rem;
    object-fit: contain;
    height: 15rem;
}
.namesss{
    width: 100%;
    height: 100%;
}
.namezz{
    width: 100%;
}
.caraus{
    width: 100%;
}
.slidezz{
    width: 100%;
}