.projects{
    width: 100%;
    height: 100vh;
}
.project_container{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    align-items: center;
}
.display_flexi{
    display: flex;
    width: 100%;
    gap: 4rem;
    padding: 3rem;
    

}
.image{
    width: 50%;
    box-shadow: 4px 1px 48px -5px rgba(9,34,176,0.78);
    -webkit-box-shadow: 4px 1px 48px -5px rgba(9,34,176,0.78);
    -moz-box-shadow: 4px 1px 48px -5px rgba(9,34,176,0.78);
}
.image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project_header{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.bank_desc{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 10rem;
}
.project_container > h1{
    font-size: 4.5rem;
    color: whitesmoke;
}
.bank_desc > p{
    font-size: 2.3rem;
    color: gray;
    line-height: 55px;
}
.bank_desc > button{
    width: 100%;
    height: 5.5rem;
    margin-top: 5rem;
    font-size: 2rem;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: blue;
    color: white;
    opacity: 0.8;
}
.bank_desc > button:hover{
    background-color: purple;
}

@media screen and (max-width: 642px) {
    .project_container > h1{
        font-size: 1.5rem;
        opacity: 0.8;
    }
    .display_flexi{
        gap: 0;
        padding: 0.8rem;
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .image{
        width: 100%;
        height: 40%;
    }
    .project_header{
        width: 100%;
        gap: 0rem;
    }
    .bank_desc{
        gap: 0rem;
        margin-top: 3rem;
    }
    .bank_desc > p{
        font-size: 0.95rem;
        color: gray;
        line-height: 28px;
    }
    .bank_desc > button{
        width: 100%;
        height: 2.65rem;
        margin-top: 5rem;
        font-size: 0.95rem;
        border: 0;
        outline: 0;
        cursor: pointer;
        background-color: blue;
        color: white;
        opacity: 0.8;
        box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.39);
        -webkit-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.35);
        -moz-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.33);
    }
}
@media screen and (max-width: 241px) {
    .projects{
        overflow: scroll;
        height: fit-content;
    }
    .display_flexi{
        
        margin-top: 5rem;
    }
}