.personal{
    width: 100%;
    height: 100vh;
    padding: 0rem 2rem;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
    background-color: black;
    overflow: scroll;

}
.personal_education{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    align-items: center;
}
.education_gif{
    width: 100%;
    overflow: hidden;

}
.education_gif > img{
    width: 100%;
    box-shadow: 4px 1px 48px -5px rgba(9,34,176,0.78);
    -webkit-box-shadow: 4px 1px 48px -5px rgba(9,34,176,0.78);
    -moz-box-shadow: 4px 1px 48px -5px rgba(9,34,176,0.78);
    height: 40rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}
.education_desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.education_header{
    font-size: 3.5rem;
}
.education_header > span{
    color: orangered;
}
.education_desc > p{
    width: 95% !important;
    font-size: 2rem;
    line-height: 57px;
    color: gray;
}
.education_desc > span{
    width: 100%;
    padding: 1.3rem 0rem;
    text-align: center;
    border-radius: 8px;
    cursor: crosshair;
    color: white;
    letter-spacing: 3px;
    font-size: 2rem;
    background-color: orange;
    border: 1px solid rgba(255, 165, 0,0.3);
    box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.39);
    -webkit-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.35);
    -moz-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.33);
    margin-top: 10rem;
}
.education_desc > span:hover{
    color: gray;
}
@media screen and (max-width: 641px) {
    .personal{
        padding: 0;
        margin: 2.5rem 0px;
    }
    .personal_education{
        width: 100%;
        display: flex;
        gap: 2rem;
        height: 100%;
        flex-direction: column;
        padding: 0rem 0.7rem;

    }
    .education_gif{
        width: 100%;
    }
    .education_gif > img{
        width: 22rem;
        height: 14rem;
        object-fit: cover;
        border-radius: 3px;
    }
    .education_desc{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .education_header{
        width: 100%;
        font-size: 1.2rem;
    }
    .education_desc > p{
        width: 100% !important;
        font-size: 0.95rem;
        line-height: 26px;
        color: gray;
    }
    .education_desc > span{
        width: 100%;
        padding: 0.7rem 0rem;
        text-align: center;
        border-radius: 4px;
        cursor: crosshair;
        color: white;
        letter-spacing: 1.5px;
        font-size: 0.95rem;
        border: 0;
        background-color: rgb(24, 24, 158);
        box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.39);
        -webkit-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.35);
        -moz-box-shadow: -1px 33px 52px -7px rgba(232,224,28,0.33);
        margin-top: 3rem;
    }
}